page-sign-in {
    
ion-content{
    background-color: transparent;
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/87/cc/a0/87cca0ec40ea3157c56e5c5d98581917.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.inputs{
    background-color: transparent;
    color:white;
}
.links{
    color:#f5d63d;
    text-decoration: none;
}
#logo{
    
    height: 150px;
}
}
