<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="newColor" >
    <ion-title light><b>APP and GO</b> Admin</ion-title>
    <ion-buttons end>
       <!--Here we will add actions-->
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card *ngIf="!editAttempt">

  <ion-item>
    <ion-avatar item-left>
      <img src="{{userInformation.data?.avatar}}">
    </ion-avatar>
    <h2>{{userInformation.data?.name}}</h2>
    <p>{{userInformation.data?.email}}</p>
  </ion-item>



  <ion-card-content>
    <p>Crée le {{userInformation.data?.created_at }}</p>
    <button ion-button (click)="edit()" style="float: right"><ion-icon name="create"></ion-icon>Editer</button>

  </ion-card-content>
    

</ion-card>

 <form (ngSubmit)="putMe()" *ngIf="editAttempt">
    <ion-list>
      <ion-item color="darker">
          Mon profile
      </ion-item>
      <ion-item>
        <ion-label floating>Nom</ion-label>
        <ion-input type="text" [(ngModel)]="userInformation?.data.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="userInformation?.data.email" name="email"></ion-input>
      </ion-item>
      
    </ion-list>
    <ion-list>
      <ion-item color="red700">
          Mettre à jour mon mot de passe
      </ion-item>
      <ion-item>
        <ion-label floating>Mot de passe actuelle</ion-label>
        <ion-input type="text" [(ngModel)]="userInformation?.data.current_password" name="current_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Nouveau mot de passe</ion-label>
        <ion-input type="text" [(ngModel)]="userInformation?.data.new_password" name="new_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirmer le nouveau mot de passe</ion-label>
        <ion-input type="text" [(ngModel)]="userInformation?.data.new_password_confirmation" name="new_password_confirmation"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button type="submit" full color="newColor">Enregistrer</button>
    </div>
</form>
</ion-content>
