

<ion-content padding>
    <img id="logo" src="assets/img/logo.png">
     <h4 class="title">Bonjour {{username}}</h4>
     <h5 class="title">Veuillez configurer votre mot de passe</h5>
  <form [formGroup]="passwordConfigForm" >
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label floating color="light">Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!passwordConfigForm.controls['password'].valid && (passwordConfigForm.controls['password'].dirty || formSubmited)">
            <p color="danger">Vous devez entrer 8 caractères au minimum</p>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating color="light">Confirmer votre mot de passe</ion-label>
          <ion-input type="password" formControlName="password_confirmation"></ion-input>
        </ion-item>
        <ion-item *ngIf="passwordConfigForm.controls['password'].value!=passwordConfigForm.controls['password_confirmation'].value && passwordConfigForm.controls['password_confirmation'].valid">
            <p color="danger">Mots de passe non identiques</p>
        </ion-item>
        <ion-item *ngIf="passwordConfigForm.controls['password'].value==passwordConfigForm.controls['password_confirmation'].value && passwordConfigForm.controls['password_confirmation'].valid">
            <p color="secondary">Mots de passe  identiques</p>
        </ion-item>
      </ion-row>
    <ion-row padding>
        <button ion-button (click)="configure()" full color="normal">Valider et continuer</button>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
