page-password-configuration {
    ion-content{
        background-color: transparent;
        background-image: url('https://s-media-cache-ak0.pinimg.com/originals/2e/89/e9/2e89e9fd55a0087abd5f302a248e60c4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inputs,.item{
    background-color: transparent;
    color:white;
    }
    
    #logo{
        padding: 0;
        height: 22vh !important;
        width: 22vh !important;
        margin-left: 17vh !important;    
        margin-bottom: 0;
        align-items: center;
    }
    .title{
        color: whitesmoke;
        text-align: center;   
        font-weight: bold; 
    }

    .links{
    color:#f5d63d;
    text-decoration: none;
    font-weight: bold;
    float: right; 
    }

    .inputs{
    background-color: transparent;
    color:white;
}
}
