page-reset-password {
    ion-content{
        background-color: transparent;
        background-image: url('../assets/img/resetbg.jpg');
        
        background-repeat: no-repeat;
        background-size: cover;
    }
     #logo{
        padding: 0;
        height: 22vh !important;
        width: 22vh !important;
        margin-left: 17vh !important;    
        margin-bottom: 0;
        margin-top: 10vh;
        text-align: center; 
    }
    .title{
        color: whitesmoke;
         text-align: center;   
        font-weight: bold;  
    }
    .inputs,.item{
    background-color: transparent;
    color:white;
    }
    .formGrid{
        padding-top: 0vh;
        margin: 0;
    }
    .links{
    color:#f5d63d;
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
}
}
